body {
    --blue1: #8BBEE8;
    --blue2: #519AD7;
    --blue3: #2780CA;
    --blue4: #0963AF;
    --blue5: #064375;
    --orange1: #FFD091;
    --orange2: #FFB755;
    --orange3: #FFA222;
    --orange4: #FF9400;
    --orange5: #B66900;

    --all: #ffd87f;
    --smile: #fa7dca;
    --pure: #8ec4a6;
    --cool: #a2e3ff;

    background-color: #02101B;
    color: white;
    font-family: Arial, sans-serif;
    margin-top: 2em;
}

a {
    color: var(--orange3);
}

a:focus, a:hover {
    color: var(--orange1);
}

a.button, input[type="button"] {
    background-color: var(--blue4);
    border-color: var(--blue4);
    color: white !important;
    font-size: .75em;
}

a.button:hover, a.button:focus {
    background-color: var(--blue2);
    border-color: var(--blue2);
    color: white;
}

a.button.button-primary {
    background-color: var(--orange4);
    border-color: var(--orange4);
}

a.button.button-primary:hover, a.button.button-primary:focus {
    background-color: var(--orange2);
    border-color: var(--orange2);
}

.content {
    background-color: var(--blue5);
    padding: 1em;
    border-radius: 2em;
}

.panel {
    background-color: var(--blue4);
    padding: .5em;
    border-radius: 1em;
}

.panel-inner {
    border-radius: .5em;
    overflow: hidden;
}

span.card-id {
    color: var(--blue1);
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 0;
}

.panel h6 {
    margin: 0;
}

input, textarea {
    background-color: var(--blue5) !important;
    border-color: var(--blue1) !important;
    margin: 0;
}

label {
    display: inline;
    margin: 0;
}

input[type="text"], textarea {
    width: 100%;
}

textarea {
    height: 8em;
}

.error {
    display: none;
    background-color: darkred;
}

.nowrap, tr > th {
    white-space: nowrap;
}

ul {
    margin: 0;
}

li {
    margin: 0;
    padding-left: 1em;
    text-indent: -1em;
}

#player, #copything, #copybuttons {
    display: none;
}

#player {
    margin-bottom: 1em;
}

.warn {
    display: none;
    background-color: var(--orange5);
    border-radius: .5em;
    padding: .5em;
    font-size: 80%;
}

.warn div:first-child {
    font-weight: bold;
}

.playrow {
    display: flex;
    align-items: center;
}

#control {
    flex: 0 0 15em;
    width: 15em;
}

#bar {
    flex: 1 0 auto;
    background-color: #444;
    height: 1em;
    margin-left: 1em;
    position: relative;
}

#marker1, #marker2, #marker3, #marker4, #marker5 {
    width: 2px;
    height: 1em;
    background-color: white;
    position: absolute;
}

#marker1 {
    left: 6.25%;
}

#marker2 {
    left: 12.5%;
}

#marker3 {
    left: 25%;
}

#marker4 {
    left: 43.75%;
}

#marker5 {
    left: 68.75%;
}

#length {
    position: absolute;
    width: 0;
    height: 1em;
    left: 0;
    background-color: var(--orange5);
    transition: width .5s;
}

#length:before {
    position: absolute;
    font-weight: bold;
    content: "...";
    top: 1.5em;
    left: 100%;
    background-color: var(--orange5);
    transition: left .5s, right .5s;
    padding: .1em .3em;
    border-radius: 0 .5em .5em .5em;
    white-space: nowrap;
}

#length.f0 {
    width: 6.25%;
}

#length.f1 {
    width: 12.5%;
}

#length.f2 {
    width: 25%;
}

#length.f3 {
    width: 43.75%;
}

#length.f4 {
    width: 68.75%;
}

#length.f5 {
    width: 100%;
}

#length.f0:before {
    content: "1 second";
}

#length.f1:before {
    content: "2 seconds";
}

#length.f2:before {
    content: "4 seconds";
}

#length.f3:before {
    content: "7 seconds";
}

#length.f4:before {
    content: "11 seconds";
}

#length.f5:before {
    content: "16 seconds";
    left: auto;
    right: 0;
    border-radius: .5em 0 .5em .5em;
}

#playbar {
    position: absolute;
    width: 0;
    height: 1em;
    left: 0;
    background-color: var(--orange2);
    transition: width .1s;
}